@import '~normalize.css';

.app {
  color: $color-dark-font;
  background: $color-white;
}

.loading {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;  
  justify-content: center;
  align-items: center;
  color: $color-light-grey;
}
